@import "tailwindcss";
@tailwind utilities;

.column-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.column-add {
    padding: 10px;
    width: calc(100vw / 4);
    margin: 10px;
    @apply bg-sky-950 rounded-md text-white;
    @apply hover:bg-sky-900;
}