@import "tailwindcss/preflight";
@import "tailwindcss";
@tailwind utilities;

.column {
    padding: 10px;
    width: calc(100vw / 4);
    margin: 10px;
    @apply h-[calc(100vh_-_20px)] bg-stone-100 rounded-md;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-add {
    @apply p-2 w-full border-1 mt-2 rounded-md border-cyan-700 text-cyan-700;
    @apply hover:bg-blue-200/10
}

.card {
    padding: 16px;
    width: 100%;
    display: block;
    @apply bg-white rounded-md mt-3 shadow;
}


.card-inputname {
    width: 100%;
    @apply border-1 rounded-md mb-3 p-2 border-cyan-700/80 text-cyan-700 placeholder:text-cyan-700/50;
}


.button-sm {
    @apply bg-blue-500 py-1 px-2 rounded-md text-white;
}