<div class="column">
    <div class="column-headertext-1xl font-bold flex justify-between pb-4">
        <h2 [contentEditable]="true" (input)="updateColumnTitle(column.id, $event)">
            {{column.title}}</h2>
        <div>
            <button (click)="handleDeleteColumn(column.id)" class="p-3 bg-amber-300">-</button>
        </div>
    </div>
    <div class="column-content">
        <div *ngFor="let card of getCardsForColumn()">
            <div class="card">
                <h4>{{ card.title }}</h4>
            </div>
        </div>
        <div *ngIf="!isOpencreateCard">
            <button class="card-add" (click)="openCardName()">Adicionar novo card</button>
        </div>
        <div *ngIf="isOpencreateCard" style="padding: 10px;">
            <input class="card-inputname" placeholder="Digite no nome do card" [(ngModel)]="createCardTitle">
            <div>
                <button (click)="createCard(column.id, createCardTitle)">Salvar</button>
                <button (click)="closeCardName()">Cancelar</button>
            </div>
        </div>
    </div>
</div>