@import "tailwindcss/preflight";
@import "tailwindcss";
@tailwind utilities;

* {
    box-sizing: border-box;
    width: auto;
    height: auto;
}/* You can add global styles to this file, and also import other style files */

body {
    @apply bg-linear-to-t from-gray-300 to-gray-200 min-h-screen;
}

button {
    @apply cursor-pointer;
}